<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="./css/estilo.css">
    <link rel="stylesheet" href="./css/sideMenuBox.css">
    <link rel="stylesheet" href="./css/sideMenuContent.css">
    <link rel="stylesheet" href="./css/mainContent.css">
    <link rel="stylesheet" href="./css/filtro.css">
    <link rel="stylesheet" href="./css/listaProductos.css">
    <link rel="stylesheet" href="./css/accordion.css">
    <link rel="stylesheet" href="./css/textForm.css">
    <link rel="stylesheet" href="./css/selectForm.css">
    <link rel="stylesheet" href="./css/listBox.css">
    <link rel="stylesheet" href="./css/footer.css">
</head>
<body>
    
    <!-- LA SIDE MENU -->
    <div id="mySidenav" class="sidenav">

        <!--INICIO CLOSE MENU -->
        <a href="javascript:void(0)" id="buttonCloseNav" class="closebtn">&times;</a>
        <!--FIN CLOSE MENU -->
        
        <div class="imgBx">
            <img src="./img/user.jpeg" alt="">
        </div>
        <div class="contentBx">
            <h2 class="userName">
                Ignacio Ochoa
            </h2>
            <h3 class="userType">
                Usuario Administrador
            </h3>
            <div class="buttonBx">
                <a href="#">Log in</a>
                <a href="#">Administrar</a>
                <a href="#">Log out</a>
            </div>
        </div>
    </div>

    <!-- FIN SIDE MENU -->
    <!-- SPAN PARA abrir side menu -->
    <span id="buttonOpenNav">
        <img src="./img/logo.svg" alt="">
    </span>

    <!-- FIN SPAN OPEN/CLOSE SIDE MENU -->
    <!-- INICIO MAIN CONTENT -->
    <section id="main" class="mainContent">

        <h1>Articulos Informaticos</h1>

        <div class="filtro">
            <p>Filtros:</p>
            <ul>
                <li>Todos</li>
                <li>Computadoras</li>
                <li>Notebooks</li>
                <li>Perifericos</li>
            </ul>
        </div>

        <!-- <div class="listaProductos"> -->

            <div class="card">
                <div class="imgBx">
                    <img src="./img/keyboard5.png" alt="">
                </div>
                <div class="contentBx">
                    <h2>name</h2>
                    <p>Description: <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex nihil nam sapiente optio sit quis ipsa illum, rem molestias porro doloribus pariatur modi praesentium error velit, placeat nulla. Eligendi, perferendis.</span></p>
                    <p class="price">Price</p>
                    <a href="#">Buy Now</a>
                </div>
            </div>

            <!-- MAS CARDS -->

            <div class="card">
                <div class="imgBx">
                    <img src="./img/keyboard5.png" alt="">
                </div>
                <div class="contentBx">
                    <h2>name</h2>
                    <p>Description: <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex nihil nam sapiente optio sit quis ipsa illum, rem molestias porro doloribus pariatur modi praesentium error velit, placeat nulla. Eligendi, perferendis.</span></p>
                    <p class="price">Price</p>
                    <a href="#">Buy Now</a>
                </div>
            </div>

            <div class="card">
                <div class="imgBx">
                    <img src="./img/keyboard5.png" alt="">
                </div>
                <div class="contentBx">
                    <h2>name</h2>
                    <p>Description: <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex nihil nam sapiente optio sit quis ipsa illum, rem molestias porro doloribus pariatur modi praesentium error velit, placeat nulla. Eligendi, perferendis.</span></p>
                    <p class="price">Price</p>
                    <a href="#">Buy Now</a>
                </div>
            </div>

            <div class="card">
                <div class="imgBx">
                    <img src="./img/keyboard5.png" alt="">
                </div>
                <div class="contentBx">
                    <h2>name</h2>
                    <p>Description: <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex nihil nam sapiente optio sit quis ipsa illum, rem molestias porro doloribus pariatur modi praesentium error velit, placeat nulla. Eligendi, perferendis.</span></p>
                    <p class="price">Price</p>
                    <a href="#">Buy Now</a>
                </div>
            </div>

            <div class="card">
                <div class="imgBx">
                    <img src="./img/keyboard5.png" alt="">
                </div>
                <div class="contentBx">
                    <h2>name</h2>
                    <p>Description: <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex nihil nam sapiente optio sit quis ipsa illum, rem molestias porro doloribus pariatur modi praesentium error velit, placeat nulla. Eligendi, perferendis.</span></p>
                    <p class="price">Price</p>
                    <a href="#">Buy Now</a>
                </div>
            </div>

            <div class="card">
                <div class="imgBx">
                    <img src="./img/keyboard5.png" alt="">
                </div>
                <div class="contentBx">
                    <h2>name</h2>
                    <p>Description: <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex nihil nam sapiente optio sit quis ipsa illum, rem molestias porro doloribus pariatur modi praesentium error velit, placeat nulla. Eligendi, perferendis.</span></p>
                    <p class="price">Price</p>
                    <a href="#">Buy Now</a>
                </div>
            </div>
            <div class="card">
                <div class="imgBx">
                    <img src="./img/keyboard5.png" alt="">
                </div>
                <div class="contentBx">
                    <h2>name</h2>
                    <p>Description: <span>Lorem ipsum dolor sitlit, placeat nulla. Eligendi, perferendis.</span></p>
                    <p class="price">Price</p>
                    <a href="#">Buy Now</a>
                </div>
            </div>
            <div class="card">
                <div class="imgBx">
                    <img src="./img/keyboard5.png" alt="">
                </div>
                <div class="contentBx">
                    <h2>name</h2>
                    <p>Description: <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex nihil nam sapiente optio sit quis ipsa illum, rem molestias porro doloribus pariatur modi praesentium error velit, placeat nulla. Eligendi, perferendis.</span></p>
                    <p class="price">Price</p>
                    <a href="#">Buy Now</a>
                </div>
            </div>

            <!-- FIN MAS CARDS -->


        </div>

        <div class="accordion">
            <div class="accordionContentBx">
                <div id="label" class="label">List One</div>
                <div class="content">
                    
                    <div class="listBox">

                        <h2>List Item Hover Effect</h2>
                    
                        <ul>
                            <li><span>1</span>List Item One</li>
                            
                            <li><span>2</span>List Item Two</li>
                    
                            <li><span>3</span>List Item Three</li>
                            
                            <li><span>4</span>List Item Four</li>
                    
                            <li><span>5</span>List Item Five</li>
                    
                            <li><span>6</span>List Item Six</li>
                        </ul>
                    </div>

                    <!-- otra cosa -->

                    <div class="containerForm">
                        <h2>Contact Us</h2>
                
                        <!-- INICIO ROW 100 -->
                        <div class="row100">
                
                            <div class="col">
                                <div class="inputBox">
                                    <input type="text" name="" required="required">
                                    <span class="text">First Name</span>
                                    <span class="line"></span>
                                </div>
                            </div>
                
                            <div class="col">
                                <div class="inputBox">
                                    <input type="text" name="" required="required">
                                    <span class="text">Last Name</span>
                                    <span class="line"></span>
                                </div>
                            </div>
                
                        </div>
                
                        <!-- FIN ROW 100 -->
                
                        <!-- INICIO ROW 2 -->
                
                        <div class="row100">
                
                            <div class="col">
                                <div class="inputBox">
                                    <input type="text" name="" required="required">
                                    <span class="text">Email</span>
                                    <span class="line"></span>
                                </div>
                            </div>
                
                            <div class="col">
                                <div class="inputBox">
                                    <input type="text" name="" required="required">
                                    <span class="text">Mobile</span>
                                    <span class="line"></span>
                                </div>
                            </div>
                        </div>
                
                        <!-- FIN ROW 2 -->
                
                        <!-- INICIO ROW EXTRA SOLA -->
                        <div class="row100">
                
                            <div class="col">
                                <div class="inputBox textarea">
                                    <textarea name="" id="" cols="30" rows="10" required="required"></textarea>
                                    <span class="text">Type your message here:</span>
                                    <span class="line"></span>
                                </div>
                            </div>
                
                        </div>
                
                
                        <!-- FIN ROW EXTRA SOLA -->
                
                        <!-- inicio otra row -->
                
                        <div class="row100">
                            <div class="col">
                                <input type="submit" value="Send">
                            </div>
                        </div>
                        <!-- fin otra row -->
                    </div>


                    <!-- FIN TEXT FORM -->
                </div>

                
            </div>
        

            <div class="accordionContentBx">
                <div class="label">Form 1</div>
                <div class="content">
                    
                    <!-- INICIO TEXT FORM -->

                    <div class="containerForm">
                        <h2>Contact Us</h2>
                
                        <!-- INICIO ROW 100 -->
                        <div class="row100">
                
                            <div class="col">
                                <div class="inputBox">
                                    <input type="text" name="" required="required">
                                    <span class="text">First Name</span>
                                    <span class="line"></span>
                                </div>
                            </div>
                
                            <div class="col">
                                <div class="inputBox">
                                    <input type="text" name="" required="required">
                                    <span class="text">Last Name</span>
                                    <span class="line"></span>
                                </div>
                            </div>
                
                        </div>
                
                        <!-- FIN ROW 100 -->
                
                        <!-- INICIO ROW 2 -->
                
                        <div class="row100">
                
                            <div class="col">
                                <div class="inputBox">
                                    <input type="text" name="" required="required">
                                    <span class="text">Email</span>
                                    <span class="line"></span>
                                </div>
                            </div>
                
                            <div class="col">
                                <div class="inputBox">
                                    <input type="text" name="" required="required">
                                    <span class="text">Mobile</span>
                                    <span class="line"></span>
                                </div>
                            </div>
                        </div>
                
                        <!-- FIN ROW 2 -->
                
                        <!-- INICIO ROW EXTRA SOLA -->
                        <div class="row100">
                
                            <div class="col">
                                <div class="inputBox textarea">
                                    <textarea name="" id="" cols="30" rows="10" required="required"></textarea>
                                    <span class="text">Type your message here:</span>
                                    <span class="line"></span>
                                </div>
                            </div>
                
                        </div>
                
                
                        <!-- FIN ROW EXTRA SOLA -->
                
                        <!-- inicio otra row -->
                
                        <div class="row100">
                            <div class="col">
                                <input type="submit" value="Send">
                            </div>
                        </div>
                        <!-- fin otra row -->
                    </div>


                    <!-- FIN TEXT FORM -->
                </div>
            </div>
        
            <div class="accordionContentBx">
                <div class="label">Form Select</div>
                <div class="content">
                    

                    <!-- INICIO BOX SELECT -->
                    <div class="boxSelect">

                        <h2>Group Input Search Form</h2>
                
                        <form action="#">
                
                            <input type="text" placeholder="Type: ">
                
                            <select name="" id="">
                                <option value="Option1">Option One</option>
                                <option value="Option2">Option Two</option>
                                <option value="Option3">Option Three</option>
                                <option value="Option4">Option Four</option>
                
                            </select>
                
                            <input type="submit" value="Search">
                
                
                        </form>
                
                
                    </div>
                    <!-- FIN BOX SELECT -->
                </div>
            </div>
        </div>

        <footer>
            <h2>Powered by us</h2>
        </footer>



    </section>

    <!-- FIN MAIN CONTENT / FOOTER VA DENTRO DEL SECTION-->

    <!-- SCRIPTS -->
    <script type='text/javascript' src="./js/sideMenu.js"></script>
    <script src="./js/accordion.js"></script>
</body>
</html>